//background colors:
$color-1: #585dfe;
$color-2: #fb3796;
$color-3: #1a1921;
$bg-content: #ffffff;
$text_white: #ffffff;
$text_black: #000;

$body-font: "Share Tech Mono", "monospace";

// media defaults
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1250px;
$hdtv: 1920px;
