@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

//background colors:
$color-1:#585DFE; 
$color-2:#FB3796; 
$color-3:#1A1921; 
$bg-content:#ffffff; 
$text_white:#ffffff; 
$text_black:#000;


$body-font:'Share Tech Mono',
'monospace';

// media defaults
$mobile : 576px;
$tablet : 768px;
$laptop : 992px;
$desktop :1250px;
$hdtv : 1920px;

body {
    margin: 0;
    padding: 0;
    // background-color: $color-3;
    
}

.container{
    
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 30.375em 30.375em;
  grid-template-rows: 30.375em 30.375em;
  padding-left:25rem;
 
    color: $color-3;
    border:$color-3;
    
}

.box{
    
    background-color: $color-3;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    border: $color-1;
}
.box_in{
    
    background-color: $bg-content;
    font-size:1.5em;
    padding: 1.3rem;
    border-radius: 0.4em;
    position:relative;
    top:150px;
    z-index:2;
    
}

.length,.vol,.mass{
    display:flex;
    justify-content: left;
    font-size: 1rem;
    padding: 0.8rem;
    color: $text_black;
    font-family: 'Inter', sans-serif;
    

}



// .card_1,.card_2{
// background:$color-1;
// color: $bg-text;
// font-size: 1.3em;
// padding: 5.5em;
// border: $color-3 0.2em solid;
// }
// .card_3,.card_4{

// background:$color-1;
// color: $bg-text;
// font-size: 1.3em;
// padding: 5.5em;
// border: $color-3 0.2em solid;

// }


// .card-title-top{
// display: flex;
// align-items: flex-start;
// background:$color-2;

// }
// .card-title-bottom{
// display: flex;
// background:$color-2;



// }